<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Min Lille Klub</title>
  </head>
  <body>
    <slot />
    <!-- Content from pages will be injected here -->
  </body>
</html>
